@font-face {
  font-family: "source_sans_semibold";
  src: url("fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_regular";
  src: url("fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_bold";
  src: url("fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_light";
  src: url("fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_italic";
  src: url("fonts/sourcesanspro-it-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.third_block {
  z-index: 100;
  max-width: 1170px;
  min-height: 705px;
  margin: 0 auto;
}
.third_block .row .third_block_left .mobile {
  margin-top: 66px;
  margin-left: 52px;
}
.third_block .row .third_block_right .blue_title {
  color: #008ed6;
  font-family: "source_sans_bold";
  font-size: 14px;
  letter-spacing: 1.42px;
  text-transform: uppercase;
  margin-top: 119px;
  margin-left: 3px;
}
.third_block .row .third_block_right .black_title {
  color: #1a1a1a;
  font-family: "source_sans_semibold";
  font-size: 36px;
  margin-top: 5px;
  margin-left: 3px;
}
.third_block .row .third_block_right .blue_line {
  margin-left: 3px;
  margin-top: 21px;
  background: linear-gradient(to right, #008ed6 48%, transparent 48%, transparent 53%, #008ed6 52%);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 2px;
  width: 42px;
}
.third_block .row .third_block_right .third_right_subtext {
  margin-left: 3px;
  position: relative;
  margin-top: 27px;
  font-family: "source_sans_regular";
  color: #999999;
  line-height: 26px;
  font-size: 18px;
  max-width: 470px;
}
.third_block .row .third_block_right .benefit1 {
  margin-top: 31px;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.third_block .row .third_block_right .benefit1 img {
  width: 16px;
  height: 16px;
}
.third_block .row .third_block_right .benefit1 .benefit_title {
  font-family: source_sans_regular;
  font-size: 18px;
  color: #1b1b1b;
  margin-left: 7px;
}
.third_block .row .third_block_right .benefit2 {
  margin-top: 13px;
  margin-left: 5.5px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.third_block .row .third_block_right .benefit2 img {
  width: 10px;
  height: 17px;
}
.third_block .row .third_block_right .benefit2 .benefit_title {
  font-family: source_sans_regular;
  font-size: 18px;
  color: #1b1b1b;
  margin-left: 10px;
}
.third_block .row .third_block_right .benefit3 {
  margin-top: 13px;
  margin-left: 5.5px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.third_block .row .third_block_right .benefit3 img {
  width: 11px;
  height: 17px;
}
.third_block .row .third_block_right .benefit3 .benefit_title {
  margin-left: 10px;
  font-family: source_sans_regular;
  font-size: 18px;
  color: #1b1b1b;
}
.third_block .row .third_block_right .benefit4 {
  margin-top: 13px;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.third_block .row .third_block_right .benefit4 img {
  width: 16px;
  height: 16px;
}
.third_block .row .third_block_right .benefit4 .benefit_title {
  font-family: source_sans_regular;
  font-size: 18px;
  color: #1b1b1b;
  margin-left: 7px;
}

@media (max-width: 1199px) {
  .third_block {
    box-sizing: border-box;
    padding: 0 15px;
  }
  .third_block .row .third_block_left {
    display: flex;
    justify-content: center;
  }
  .third_block .row .third_block_left .mobile {
    margin-top: 150px;
    margin-left: 10px;
  }
  .third_block .row .third_block_left .mobile img {
    height: 470px;
  }
  .third_block .row .third_block_right {
    margin-top: -620px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third_block .row .third_block_right .blue_title {
    margin-top: 20px;
  }
  .third_block .row .third_block_right .blue_line {
    margin-bottom: 500px;
  }
  .third_block .row .third_block_right .third_right_subtext {
    text-align: center;
  }
  .third_block .row .third_block_right .benefit4 {
    padding-bottom: 40px;
  }
}
@media (max-width: 650px) {
  .third_block .row .third_block_left .mobile img {
    height: 400px;
  }
  .third_block .row .third_block_right {
    margin-top: -530px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third_block .row .third_block_right .blue_line {
    margin-bottom: 430px;
  }
  .third_block .row .third_block_right .black_title {
    font-size: 24px;
  }
}
@media (max-width: 440px) {
  .third_block .row .third_block_left .mobile img {
    height: 300px;
  }
  .third_block .row .third_block_right {
    margin-top: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third_block .row .third_block_right .blue_line {
    margin-bottom: 340px;
  }
  .third_block .row .third_block_right .black_title {
    font-size: 24px;
  }
}
.fourth_block {
  min-height: 543px;
  background-color: #f2f2f2;
}
.fourth_block .fourth_block_content {
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}
.fourth_block .fourth_block_content .fourth_block_left .blue_title {
  margin-top: 129px;
  color: #008ed6;
  font-family: "source_sans_bold";
  font-size: 14px;
  letter-spacing: 1.42px;
  text-transform: uppercase;
}
.fourth_block .fourth_block_content .fourth_block_left .black_title {
  color: #1a1a1a;
  font-family: "source_sans_semibold";
  font-size: 36px;
  margin-top: 7.5px;
}
.fourth_block .fourth_block_content .fourth_block_left .blue_line {
  margin-left: 3px;
  margin-top: 24px;
  background: linear-gradient(to right, #008ed6 48%, transparent 48%, transparent 53%, #008ed6 52%);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 2px;
  width: 42px;
}
.fourth_block .fourth_block_content .fourth_block_left .fourth_right_subtext {
  position: relative;
  margin-top: 23.5px;
  font-family: "source_sans_regular";
  color: #999999;
  line-height: 26px;
  font-size: 18px;
  max-width: 470px;
}
.fourth_block .fourth_block_content .fourth_block_right {
  padding-right: 0;
}
.fourth_block .fourth_block_content .fourth_block_right .fourth_block_img {
  margin-left: -27px;
  margin-top: 34px;
}

@media (max-width: 1250px) {
  .fourth_block .fourth_block_content .row {
    --bs-gutter-x: 0;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media (max-width: 1199px) {
  .fourth_block .fourth_block_content .fourth_block_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fourth_block .fourth_block_content .fourth_block_left .blue_title {
    margin-top: 40px;
  }
  .fourth_block .fourth_block_content .fourth_block_left .fourth_right_subtext {
    max-width: 800px;
    text-align: center;
  }
  .fourth_block .fourth_block_content .fourth_block_right {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .fourth_block .fourth_block_content .fourth_block_right .fourth_block_img {
    margin-top: 30px;
  }
  .fourth_block .fourth_block_content .fourth_block_right .fourth_block_img img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 20px;
    overflow: hidden;
  }
}
@media (max-width: 650px) {
  .fourth_block .fourth_block_content .fourth_block_left .black_title {
    font-size: 24px;
    margin: 0 auto;
  }
  .fourth_block .fourth_block_content .fourth_block_left .fourth_right_subtext {
    max-width: 800px;
    text-align: center;
  }
}
/*# sourceMappingURL=dip into details.css.map */
