@font-face {
  font-family: "source_sans_semibold";
  src: url("fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_regular";
  src: url("fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_bold";
  src: url("fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_light";
  src: url("fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_italic";
  src: url("fonts/sourcesanspro-it-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
.seventh_block {
  max-width: 1170px;
  margin: 0 auto;
  min-height: 780px;
}
.seventh_block .blue_title {
  color: #008ed6;
  font-family: "source_sans_bold";
  font-size: 14px;
  letter-spacing: 1.42px;
  text-transform: uppercase;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 56px 0 0 0;
  text-align: center;
}
.seventh_block .black_title {
  color: #1a1a1a;
  font-family: "source_sans_semibold";
  font-size: 36px;
  text-align: center;
  margin: 7px auto 0;
}
.seventh_block .blue_line {
  background: linear-gradient(to right, #008ed6 48%, transparent 48%, transparent 53%, #008ed6 52%);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 42px;
  height: 2px;
  margin: 25px auto 0;
}

.pricing {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pricing .first_price .plan {
  width: 270px;
  height: 72px;
  border: 1px solid #e0e0e0;
}
.pricing .first_price .plan .plan_text {
  font-size: 24px;
  text-transform: uppercase;
  font-family: source_sans_bold;
  color: #1a1a1a;
  text-align: center;
  margin-top: 20px;
}
.pricing .first_price .pricing_block {
  width: 270px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.pricing .first_price .pricing_block .price_number {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 15px;
}
.pricing .first_price .pricing_block .price_number .dollar {
  font-size: 27px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 40px;
  margin-left: -5px;
}
.pricing .first_price .pricing_block .price_number .real_price {
  font-size: 60px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 69px;
  margin-top: 1px;
}
.pricing .first_price .pricing_block .per_month {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
}
.pricing .first_price .price_subtext {
  width: 270px;
  height: 270px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .first_price .price_subtext .subtext_text {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
  text-align: center;
  margin-top: 43px;
  max-width: 196px;
}
.pricing .first_price .price_subtext .subtext_text .lacinia {
  color: #008ed6;
}
.pricing .first_price .price_subtext .button_order {
  width: 160px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-family: source_sans_bold;
  text-transform: uppercase;
  margin-top: 44px;
}
.pricing .first_price .price_subtext .button_order .order {
  margin-top: 21px;
  margin-left: 42px;
}
.pricing .first_price .price_subtext .button_order .order a {
  text-decoration: none;
  color: #008ed6;
}
.pricing .first_price .price_subtext .button_order .order {
  margin-top: 15px;
  margin-left: 37px;
}
.pricing .second_price {
  padding-left: 7px;
}
.pricing .second_price .plan {
  width: 270px;
  height: 72px;
  border: 1px solid #e0e0e0;
}
.pricing .second_price .plan .plan_text {
  font-size: 24px;
  text-transform: uppercase;
  font-family: source_sans_bold;
  color: #1a1a1a;
  text-align: center;
  margin-top: 20px;
}
.pricing .second_price .pricing_block {
  width: 270px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.pricing .second_price .pricing_block .price_number {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 15px;
}
.pricing .second_price .pricing_block .price_number .dollar {
  font-size: 27px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 40px;
  margin-left: -5px;
}
.pricing .second_price .pricing_block .price_number .real_price {
  font-size: 60px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 69px;
  margin-top: 1px;
}
.pricing .second_price .pricing_block .per_month {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
}
.pricing .second_price .price_subtext {
  width: 270px;
  height: 270px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .second_price .price_subtext .subtext_text {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
  text-align: center;
  margin-top: 43px;
  max-width: 196px;
}
.pricing .second_price .price_subtext .subtext_text .lacinia {
  color: #008ed6;
}
.pricing .second_price .price_subtext .button_order {
  width: 160px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-family: source_sans_bold;
  text-transform: uppercase;
  margin-top: 44px;
}
.pricing .second_price .price_subtext .button_order .order {
  margin-top: 21px;
  margin-left: 42px;
}
.pricing .second_price .price_subtext .button_order .order a {
  text-decoration: none;
  color: #008ed6;
}
.pricing .second_price .price_subtext .button_order .order {
  margin-top: 15px;
  margin-left: 37px;
}
.pricing .third_price {
  padding-left: 7px;
}
.pricing .third_price .plan {
  width: 270px;
  height: 72px;
  border: 1px solid #e0e0e0;
}
.pricing .third_price .plan .plan_text {
  font-size: 24px;
  text-transform: uppercase;
  font-family: source_sans_bold;
  color: #1a1a1a;
  text-align: center;
  margin-top: 20px;
}
.pricing .third_price .pricing_block {
  width: 270px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.pricing .third_price .pricing_block .price_number {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 15px;
}
.pricing .third_price .pricing_block .price_number .dollar {
  font-size: 27px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 40px;
  margin-left: -5px;
}
.pricing .third_price .pricing_block .price_number .real_price {
  font-size: 60px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 69px;
  margin-top: 1px;
}
.pricing .third_price .pricing_block .per_month {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
}
.pricing .third_price .price_subtext {
  width: 270px;
  height: 270px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .third_price .price_subtext .subtext_text {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
  text-align: center;
  margin-top: 43px;
  max-width: 196px;
}
.pricing .third_price .price_subtext .subtext_text .lacinia {
  color: #008ed6;
}
.pricing .third_price .price_subtext .button_order {
  width: 160px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-family: source_sans_bold;
  text-transform: uppercase;
  margin-top: 44px;
}
.pricing .third_price .price_subtext .button_order .order {
  margin-top: 21px;
  margin-left: 42px;
}
.pricing .third_price .price_subtext .button_order .order a {
  text-decoration: none;
  color: #008ed6;
}
.pricing .third_price .price_subtext .button_order .order {
  margin-top: 15px;
  margin-left: 37px;
}
.pricing .fourth_price {
  padding-left: 7px;
}
.pricing .fourth_price .plan {
  width: 270px;
  height: 72px;
  border: 1px solid #e0e0e0;
}
.pricing .fourth_price .plan .plan_text {
  font-size: 24px;
  text-transform: uppercase;
  font-family: source_sans_bold;
  color: #1a1a1a;
  text-align: center;
  margin-top: 20px;
}
.pricing .fourth_price .pricing_block {
  width: 270px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.pricing .fourth_price .pricing_block .price_number {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 15px;
}
.pricing .fourth_price .pricing_block .price_number .dollar {
  font-size: 27px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 40px;
  margin-left: -5px;
}
.pricing .fourth_price .pricing_block .price_number .real_price {
  font-size: 60px;
  font-family: source_sans_semibold;
  color: #1a1a1a;
  height: 69px;
  margin-top: 1px;
}
.pricing .fourth_price .pricing_block .per_month {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
}
.pricing .fourth_price .price_subtext {
  width: 270px;
  height: 270px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing .fourth_price .price_subtext .subtext_text {
  font-family: source_sans_regular;
  font-size: 18px;
  line-height: 26px;
  color: #999999;
  text-align: center;
  margin-top: 43px;
  max-width: 196px;
}
.pricing .fourth_price .price_subtext .subtext_text .lacinia {
  color: #008ed6;
}
.pricing .fourth_price .price_subtext .button_order {
  width: 160px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  font-family: source_sans_bold;
  text-transform: uppercase;
  margin-top: 44px;
}
.pricing .fourth_price .price_subtext .button_order .order {
  margin-top: 21px;
  margin-left: 42px;
}
.pricing .fourth_price .price_subtext .button_order .order a {
  text-decoration: none;
  color: #008ed6;
}
.pricing .fourth_price .price_subtext .button_order .order {
  margin-top: 15px;
  margin-left: 37px;
}
.pricing .for_hover:hover {
  transition: all 0.5s ease 0s;
}
.pricing .for_hover:hover .plan .plan_text {
  color: #008ed6;
  transition: all 0.5s ease 0s;
}
.pricing .for_hover:hover .pricing_block {
  background-color: #008ed6;
}
.pricing .for_hover:hover .pricing_block .price_number .dollar {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.pricing .for_hover:hover .pricing_block .price_number .real_price {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.pricing .for_hover:hover .pricing_block .per_month {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.pricing .for_hover:hover .price_subtext .button_order {
  background-color: #008ed6;
  transition: all 0.5s ease 0s;
}
.pricing .for_hover:hover .price_subtext .button_order .order a {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.pricing .for_hover:hover .price_subtext .button_order .order a:hover {
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 1199px) {
  .seventh_block {
    padding-bottom: 10px;
  }
  .seventh_block .blue_title {
    padding-top: 40px;
  }
  .seventh_block .pricing {
    box-sizing: border-box;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3em;
  }
  .seventh_block .pricing .first_price {
    place-self: center;
  }
  .seventh_block .pricing .second_price {
    place-self: center;
  }
  .seventh_block .pricing .third_price {
    place-self: center;
  }
  .seventh_block .pricing .fourth_price {
    place-self: center;
  }
}
@media (max-width: 599px) {
  .seventh_block .pricing {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
}
/*# sourceMappingURL=pricing.css.map */
