.second_block {
  max-width: 1170px;
  min-height: 432px;
  margin: 65px auto 0;
  z-index: 100;
  border-bottom: 1px #ededed solid;
}
.second_block .second_block_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second_block .second_block_titles .blue_title {
  color: #008ed6;
  font-family: "source_sans_bold";
  font-size: 14px;
  letter-spacing: 1.42px;
  text-transform: uppercase;
  margin-top: -4px;
  margin-left: 1px;
}
.second_block .second_block_titles .black_title {
  color: #1a1a1a;
  font-family: "source_sans_semibold";
  font-size: 36px;
  margin-top: 7.3px;
  padding-bottom: 29px;
}
.second_block .second_block_titles .blue_line {
  background: linear-gradient(to right, #008ed6 48%, transparent 48%, transparent 53%, #008ed6 52%);
  background-position: bottom;
  background-repeat: no-repeat;
  width: 42px;
  height: 2px;
}
.second_block .second_block_list {
  display: flex;
  flex-direction: row;
  margin-top: 73px;
  margin-bottom: 69px;
}
.second_block .second_block_list .first_list_block .list_block_photo {
  width: 88px;
  height: 88px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.second_block .second_block_list .first_list_block .list_block_title {
  margin-top: 33px;
  font-family: "Sans Regular";
  color: #1a1a1a;
  font-size: 24px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}
.second_block .second_block_list .first_list_block .list_block_text {
  margin-top: 15.5px;
  max-width: 235px;
  text-align: center;
  font-family: "source_sans_regular";
  color: #999999;
  line-height: 26px;
  font-size: 18px;
}
.second_block .second_block_list .first_list_block .list_block_photo {
  margin-left: 90px;
}
.second_block .second_block_list .first_list_block .list_block_photo img {
  margin-top: 31px;
  margin-left: 28px;
  width: 32px;
  height: 26px;
}
.second_block .second_block_list .first_list_block .list_block_title {
  margin-left: 78px;
}
.second_block .second_block_list .first_list_block .list_block_text {
  margin-left: 17.5px;
}
.second_block .second_block_list .second_list_block .list_block_photo {
  width: 88px;
  height: 88px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.second_block .second_block_list .second_list_block .list_block_title {
  margin-top: 33px;
  font-family: "Sans Regular";
  color: #1a1a1a;
  font-size: 24px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}
.second_block .second_block_list .second_list_block .list_block_text {
  margin-top: 15.5px;
  max-width: 235px;
  text-align: center;
  font-family: "source_sans_regular";
  color: #999999;
  line-height: 26px;
  font-size: 18px;
}
.second_block .second_block_list .second_list_block .list_block_photo {
  margin-left: 97px;
}
.second_block .second_block_list .second_list_block .list_block_photo img {
  margin-top: 28px;
  margin-left: 28px;
  width: 32px;
  height: 32px;
}
.second_block .second_block_list .second_list_block .list_block_title {
  margin-left: 75px;
}
.second_block .second_block_list .second_list_block .list_block_text {
  margin-left: 25px;
}
.second_block .second_block_list .third_list_block .list_block_photo {
  width: 88px;
  height: 88px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.second_block .second_block_list .third_list_block .list_block_title {
  margin-top: 33px;
  font-family: "Sans Regular";
  color: #1a1a1a;
  font-size: 24px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}
.second_block .second_block_list .third_list_block .list_block_text {
  margin-top: 15.5px;
  max-width: 235px;
  text-align: center;
  font-family: "source_sans_regular";
  color: #999999;
  line-height: 26px;
  font-size: 18px;
}
.second_block .second_block_list .third_list_block .list_block_photo {
  margin-left: 105px;
}
.second_block .second_block_list .third_list_block .list_block_photo img {
  margin-top: 28px;
  margin-left: 28px;
  width: 32px;
  height: 32px;
}
.second_block .second_block_list .third_list_block .list_block_title {
  margin-left: 82.5px;
}
.second_block .second_block_list .third_list_block .list_block_text {
  margin-left: 32px;
}
.second_block .second_block_list .fourth_list_block .list_block_photo {
  width: 88px;
  height: 88px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.second_block .second_block_list .fourth_list_block .list_block_title {
  margin-top: 33px;
  font-family: "Sans Regular";
  color: #1a1a1a;
  font-size: 24px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}
.second_block .second_block_list .fourth_list_block .list_block_text {
  margin-top: 15.5px;
  max-width: 235px;
  text-align: center;
  font-family: "source_sans_regular";
  color: #999999;
  line-height: 26px;
  font-size: 18px;
}
.second_block .second_block_list .fourth_list_block .list_block_photo {
  margin-left: 112px;
}
.second_block .second_block_list .fourth_list_block .list_block_photo img {
  margin-top: 28px;
  margin-left: 35px;
  width: 18px;
  height: 32px;
}
.second_block .second_block_list .fourth_list_block .list_block_title {
  margin-left: 81px;
}
.second_block .second_block_list .fourth_list_block .list_block_text {
  margin-left: 40px;
}

@media (max-width: 1200px) {
  .second_block .second_block_list {
    margin-top: 73px;
    display: flex;
    flex-direction: row;
    margin-bottom: 69px;
  }
  .second_block .second_block_list .first_list_block {
    max-width: 287px;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .second_block .second_block_list .first_list_block .list_block_photo {
    margin: 0 auto;
  }
  .second_block .second_block_list .first_list_block .list_block_title {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  .second_block .second_block_list .first_list_block .list_block_text {
    margin: 0 auto;
  }
  .second_block .second_block_list .second_list_block {
    max-width: 287px;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .second_block .second_block_list .second_list_block .list_block_photo {
    margin: 0 auto;
  }
  .second_block .second_block_list .second_list_block .list_block_title {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  .second_block .second_block_list .second_list_block .list_block_text {
    margin: 0 auto;
  }
  .second_block .second_block_list .third_list_block {
    max-width: 287px;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .second_block .second_block_list .third_list_block .list_block_photo {
    margin: 0 auto;
  }
  .second_block .second_block_list .third_list_block .list_block_title {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  .second_block .second_block_list .third_list_block .list_block_text {
    margin: 0 auto;
  }
  .second_block .second_block_list .fourth_list_block {
    max-width: 287px;
    box-sizing: border-box;
    padding: 0 10px;
  }
  .second_block .second_block_list .fourth_list_block .list_block_photo {
    margin: 0 auto;
  }
  .second_block .second_block_list .fourth_list_block .list_block_title {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  .second_block .second_block_list .fourth_list_block .list_block_text {
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .second_block .second_block_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3em;
  }
  .second_block .second_block_list .first_list_block {
    margin: 0 auto;
  }
  .second_block .second_block_list .second_list_block {
    margin: 0 auto;
  }
  .second_block .second_block_list .third_list_block {
    margin: 0 auto;
  }
  .second_block .second_block_list .fourth_list_block {
    margin: 0 auto;
  }
}
@media (max-width: 430px) {
  .second_block .second_block_titles .black_title {
    font-size: 24px;
  }
  .second_block .second_block_list {
    margin-top: 30px;
  }
  .second_block .second_block_list .first_list_block .list_block_photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .second_block .second_block_list .first_list_block .list_block_photo img {
    margin-top: 27px;
    margin-left: 23px;
  }
  .second_block .second_block_list .first_list_block .list_block_title {
    font-size: 20px;
  }
  .second_block .second_block_list .first_list_block .list_block_text {
    font-size: 16px;
  }
  .second_block .second_block_list .second_list_block .list_block_photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .second_block .second_block_list .second_list_block .list_block_photo img {
    margin-top: 23px;
    margin-left: 23px;
  }
  .second_block .second_block_list .second_list_block .list_block_title {
    font-size: 20px;
  }
  .second_block .second_block_list .second_list_block .list_block_text {
    font-size: 16px;
  }
  .second_block .second_block_list .third_list_block .list_block_photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .second_block .second_block_list .third_list_block .list_block_photo img {
    margin-top: 22px;
    margin-left: 23px;
  }
  .second_block .second_block_list .third_list_block .list_block_title {
    font-size: 20px;
  }
  .second_block .second_block_list .third_list_block .list_block_text {
    font-size: 16px;
  }
  .second_block .second_block_list .fourth_list_block .list_block_photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .second_block .second_block_list .fourth_list_block .list_block_photo img {
    margin-top: 22px;
    margin-left: 30px;
  }
  .second_block .second_block_list .fourth_list_block .list_block_title {
    font-size: 20px;
  }
  .second_block .second_block_list .fourth_list_block .list_block_text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .second_block .second_block_list .first_list_block .list_block_text {
    font-size: 13px;
  }
  .second_block .second_block_list .second_list_block .list_block_text {
    font-size: 13px;
  }
  .second_block .second_block_list .third_list_block .list_block_text {
    font-size: 13px;
  }
  .second_block .second_block_list .fourth_list_block .list_block_text {
    font-size: 13px;
  }
}
/*# sourceMappingURL=product_overview.css.map */
